<!doctype html>
<html lang="en">

<head>
    <title>MPOYI TSHIBUYI RESUME</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        a{text-decoration: none;}
        ul li{font-size: 12px;}
        p{font-size: 12px;}
        ol li{font-size: 12px;}
    </style>
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title mt-5">
                    <h1 style="text-align: center; ">MPOYI TSHIBUYI</h1>
                    <h1 style="text-align: center; line-height: normal;"><a href="mailto:mpoyitshibuyi63@gmail.com">mpoyitshibuyi63@gmail.com</a></h1>
                    <h1 style="text-align: center; line-height: normal;" class="link">  <span> <a href="http://www.mpoyitshibuyi.co.za/" target="_blank">Online Portfolio: http://www.mpoyitshibuyi.co.za/</a>  </span></h1>
                </div>
                <hr style=" border: 2px solid black; margin-bottom: 20px;">
                <div class="sumary">
                    <h1 style=" text-decoration: underline; margin-top: 10px;">PROFESSIONAL SUMMARY</h1>
                    <p>I am a software developer with a passion for coding and embracing challenges. On a forever
                        journey of professional growth as well as learning from and sharing with others creative.</p>
                    <h2>Core Skills: </h2>
                    <h3>Programming language & skills:</h3>
                    <ul>
                        <li>Python (Django and Flask Framework),</li>
                        <li>JavaScript (jQuery, Ajax, React, Node, Express, MERN and MEAN Stack, Redux),</li>
                        <li>TypeScript(Angular)</li>
                        <li>HTML5, XML/JSON, Bootstrap, CSS,</li>
                        <li>SQL & NoSQL (PostgreSQL, MongoDB),</li>
                        <li>REST API’s development</li>
                        <li>GitHub, GitLab, Docker</li>
                    </ul>
                    <h3>Environments, Linux/Ubuntu, and Windows.</h3>
                </div>
                <hr style=" border: 2px solid black; margin-bottom: 20px;">
                <div class="professional-experience">
                    <h1 style=" text-decoration: underline; margin-top: 10px;">PROFESSIONAL EXPERIENCE</h1>
                    <div class="company-2">
                        <h2>Full Stack Developer &nbsp;&nbsp;  May 2020 – June 2022 </h2>
                        <h2>Mutualism Fintech Company, Johannesburg, South Africa</h2>
                        <ul>
                            <li>Build Investor aplication with Python , Django REST Framework for building Web APIs, React.js and Redux for building Client Interfaces
                                
                            </li>
                            <li>Database modeling (PostgreSQL)</li>
                            <li>working with continous delivery using Heroku</li>
                        </ul>
                    </div>
                    
                    <!-- company 2 -->
                    <div class="company-2">
                        <h2>IT Support Technician &nbsp;&nbsp;  Apr 2015 – Aug 2019</h2>
                        <h2>Snow Ball Effect, Cape Town, South Africa</h2>
                        <ul>
                            <li>Working with Wireless Mikro Tik, Ubiquiti products and resolving problems and
                                maintenance on the towers, and ensuring that all hardware and software are configured
                                and installed correctly. Very good in Maintenance, Installation and Cabling..</li>
                        </ul>
                    </div>
                </div>
                <!-- <hr style=" border: 2px solid black; margin-bottom: 20px;"> -->
                <!-- <div class="professional-development">
                    <h1 style=" text-decoration: underline; margin-top: 10px;">PROFESSIONAL DEVELOPMENT</h1>
                    <ul>
                        <li>Complete regular coding lesson platforms like Udemy and edX</li>
                        <li>Regular participating in Python developer meeting group</li>
                    </ul>
                </div> -->
                {% comment %}
                <hr style=" border: 2px solid black; margin-bottom: 15px;">
                <div class="social-links" style="line-height:.5px ;">
                    <h1 style=" text-decoration: underline; margin-top: 2px;">SOCIAL LINKS</h1>
                    
                    <div class="socials " style="margin-top: 1px;">
                        <!-- <h2> <a href="https://github.com/Frank1963-mpoyi" target="_blank">GitHub</a> </h2> -->
                        <h2 style="margin-bottom: 1px;"> <a href="https://www.linkedin.com/in/mpoyi-tshibuyi-853b7a197/" target="_blank">LinkedIn</a> </h2>
                        <h2 style="margin-top: 0px;"> <a href="http://www.mpoyitshibuyi.co.za/" target="_blank">Blog</a> </h2>
                    </div>
                </div>
                {% endcomment %}
                <br>
                <!-- second page  -->
                <div class="education">
                    <h1 style=" text-decoration: underline; margin-top: 10px;">EDUCATION AND QUALIFICATION</h1>
                    <div class="ecucation-1">
                        <h2>Various Courses on Udemy Platform &nbsp;&nbsp; Jan 2016 – present</h2>
                    </div>
                    <!-- education 2 -->
                    <div class="ecucation-2">
                        <h2>Python Programming Language &nbsp;&nbsp; Feb 2017 – Oct 2017</h2>
                        <h2>University of Michigan (online)–Ann Arbor, MI, USA</h2>
                        <ul>
                            <li>Programming for everybody (Getting Started with python)</li>
                            <li>Python data Structure, Access Web data, databases and Data visualization</li>
                        </ul>
                    </div>
                    <br>
                    <br>
                    <!-- education 3 -->
                    <div class="ecucation-3">
                        <h2>Basic Communication Network &nbsp;&nbsp; Jan 2010 – Dec 2010</h2>
                        <h2>Cape Peninsula University of Technology, ICT Academy, Cape Town</h2>
                        <ul>
                            <li>ITEssentials1– PC Hardware and installation(A+)</li>
                            <li>ITEssentials2–Operating Systems and installation(N+)</li>
                            <li>UNIX/LINUX–Administration, Technical and scripting</li>
                            <li>CCNA1: Networking for Home and Small Business</li>
                            <li>CCNA2: Networks –Working Small-to-Medium Business or ISP</li>
                            <li>CCNA3: Intro to Routing & Switching in the Enterprise</li>
                            <li>CCNA4: Accessing WAN</li>
                        </ul>
                    </div>  
                </div>
                <hr style=" border: 2px solid black; margin-bottom: 20px;">
                <div class="projects">
                    <h1 style=" text-decoration: underline; margin-top: 10px;">PROJECTS</h1>
                    <div class="project-2">
                        <h2>MERN STACK Ecommerce Web application</h2>
                        <p>MERN STACK Ecommerce is an ecommerce made with react and express the application has an admintration 
                            to operate the CRUD operations <a href="http://www.kapsmode.co.za/">Live Demo</a>
                        </p>
                    </div>
                    <div class="project-2">
                        <h2>Kaps Mode Ecommerce Web application</h2>
                        <p>Kaps Mode is an ecommerce web application. Made with Django and React js </p>
                    </div>
                    <div class="project-3">
                        <h2>Hospital Management application</h2>
                        <p>The application has 3 types of users with permissions levels</p>
                        <ol>
                            <li>The first user type is Developer type Superuser who control the application </li>
                            <li>The second user type is the Hospital team.
                                The top management has access to dashboard where they can perform CRUD
                                operations. </li>
                            <li>The Third user type is guest user who can register in other to make an
                                appointment with the doctor. After making appointment he/she will get a successful
                                e-mail confirmation </li>
                        </ol>
                    </div>
                    <div class="project-4">
                        <h2>Calculation of total working time second application</h2>
                        <p>The application is calculating total working time seconds from 08:00:00 am to
                            05:00:00pm only from Monday to Friday excluding Saturday, Sunday and south
                            Africa public holiday. I first made the application with python scripts after that I use
                            Django framework</p>
                    </div>
                </div>
                <hr style=" border: 2px solid black; margin-bottom: 20px;">
                <div class="contact">
                    <h1 style=" text-decoration: underline; margin-top: 10px;">CONTACT AND REFERENCES</h1>
                    <p>References available on request.</p>
                </div>
            </hr>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>