<!doctype html>
<html lang="en">

<head>
    <title>Quotation</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-3">

            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 style="text-align: center; font-size:25px;">Quotation </h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Hours</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr>
<td>Mark</td>
<td>Otto</td>
<td>@mdo</td>
<td>@mdo</td>
</tr> -->
                    </tbody>
                </table>
                <p style="margin-top: 150px; font-size: 16px;">Note: please contact Mpoyi Tshibuyi on +(27) 0781114041
                    0r mpoyitshibuyi63@gmail.com
                    for quotation regarding the type of the job you are looking for. We will contact you to send
                    you our invoice with the prices
                </p>
                <p style="font-size: 16px;">
                    Remarque : veuillez contacter Mpoyi Tshibuyi au +(27) 0781114041 0r mpoyitshibuyi63@gmail.com pour
                    devis concernant le type d'emploi que vous recherchez. Nous vous contacterons pour vous envoyer notre
                    facture avec les prix
                </p>
            </div>
        </div>
    </div>



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>