{% load static %}


<footer class="pt-4 pb-1 text-muted text-center d-print-none">
    <div class="container">
        {#% comment %#}
        <div class="my-3">
            <div class="h4">Mpoyi Tshibuyi</div>
            <div class="footer-nav">
                <nav role="navigation">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link" href="https://twitter.com/templateflip"
                                title="Twitter"><i class="fab fa-twitter"></i><span
                                    class="menu-title sr-only">Twitter</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/templateflip"
                                title="Facebook"><i class="fab fa-linkedin"></i><span
                                    class="menu-title sr-only">LinkedIn</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" 
                            href="https://api.whatsapp.com/send?phone=+27 781 114 041&text=Hi Mpoyi Tshibuyi. How are you I am coming from your website"
                            title="Instagram"><i class="fab fa-whatsapp"></i><span
                            class="menu-title sr-only">Whatsapp</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="https://github.com/templateflip"
                                title="Github"><i class="fab fa-github"></i><span
                                    class="menu-title sr-only">Github</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        {#% endcomment %#}
        <div class="text-small">
            <div class="mb-1">&copy; All rights reserved.</div>
            <div>Design - <a href="https://www.mpoyitshibuyi.co.za/" target="_blank">Mpoyi Tshibuyi</a></div>
        </div>
    </div>
</footer>