{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}MPOYI TSHIBUYI | PORTOFOLIO {% endblock title %}</title>

<!-- Favicon -->
<link rel="icon" href="{% static 'apps/images/favicon.png' %}" type="image/favicon-icon">

<!-- Google Indexing  -->
<meta name="google-site-verification" content="n3FsTi9YVz76wCB275C66r4oa2lnaK8uSVpj4bcHoQY"/>

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
<link rel="preload" as="style"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"
    media="print" onload="this.media='all'" />
<noscript>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
</noscript>
<link rel="stylesheet" href="{% static 'apps/css/font-awesome/css/all.min.css' %}">
<link href="{% static 'apps/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'apps/css/aos.css' %}" rel="stylesheet">
<link href="{% static 'apps/css/main.css' %}" rel="stylesheet">

<!-- scroll cdn link -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- scroll button code -->
<style>
    /* scroll css  */
    #btnScrollToTop {position: fixed;right: 10px;bottom: 10px;width: 50px;height: 50px;border-radius: 50%;background: #4A89DC;box-shadow: 0 0 10px rgba(0, 0, 0o.25);color: #ffffff;outline: none;cursor: pointer;border: none;z-index: 1;display: none;}
    #btnScrollToTop:active {background: #4A89DC;;}
    .about-image img {border-radius: 10px;width: 100%;height: 50%}
    .carousel-item img {width: 100%;height: 600px;}
    .animated-info {width: 400px !important;}
    @media (max-width: 480px) {
        .carousel-item img {width: 100% !important;height: 380px;}
        .p-text p {text-align: left;}
    }
    @media (max-width: 768px) {
        .animated-info .animated-item {font-size: 28px;}
        .carousel-item img {width: 100% !important;height: 380px !important;}
        .owl-carousel {z-index: -1 !important;}
        .contact-info-item p {font-size: 14px;}
        .p-text p {text-align: left;}
    }
</style>
<!-- end scroll button code  -->

<noscript>
    <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
    </style>
</noscript>