{% load static %}

<header class="d-print-none">
    <div class="container text-center text-lg-left">
        <div class="py-3 clearfix">
            <h1 class="site-title mb-0">{{brand_name}}</h1>
            <div class="site-nav">
                <nav role="navigation">
                    <ul class="nav justify-content-center">
    
                        <li class="nav-item"><a class="nav-link" 
                            href="https://twitter.com/frankmpoyi63" target="_blank"
                            title="Twitter"><i class="fab fa-twitter"></i><span
                            class="menu-title sr-only">Twitter</span></a>
                        </li>

                        <li class="nav-item"><a class="nav-link" 
                            href="https://api.whatsapp.com/send?phone=+27 781 114 041&text=Hi Mpoyi Tshibuyi. How are you I am coming from your website" target="_blank"
                            title="Facebook"><i class="fab fa-whatsapp"></i><span
                            class="menu-title sr-only">Whatsapp</span></a>
                        </li>

                        <li class="nav-item"><a class="nav-link" 
                            href="https://www.linkedin.com/in/mpoyi-tshibuyi-853b7a197/" target="_blank"
                            title="Instagram"><i class="fab fa-linkedin"></i><span
                            class="menu-title sr-only">LinkedIn</span></a>
                        </li>

                        <li class="nav-item"><a class="nav-link" 
                            href="https://github.com/Frank1963-mpoyi" target="_blank"
                            title="Github"><i class="fab fa-github"></i><span
                            class="menu-title sr-only">Github</span></a>
                        </li>
            
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>