{% load static %}

<div class="about-section pt-4 px-3 px-lg-4 mt-1">
    <div class="row">
        <div class="col-md-6">
            <h2 class="h3 mb-3">About Me</h2>
            <p>I am a software developer with a passion for coding and embracing challenges. On a forever
                journey of professional growth as well as learning from and sharing with others creative.
                I’m currently available for freelance work. If you have a project that you want to get started or think you need my help with something, then get in touch.</p>
        </div>
        <div class="col-md-5 offset-md-1">
            <div class="row mt-2">
                <div class="col-sm-4">
                    <div class="pb-1">Email</div>
                </div>
                <div class="col-sm-8">
                    <div class="pb-1 text-secondary">mpoyitshibuyi63@gmail.com</div>
                </div>
                <div class="col-sm-4">
                    <div class="pb-1">Phone</div>
                </div>
                <div class="col-sm-8">
                    <div class="pb-1 text-secondary">+(27) 781 114 041</div>
                </div>
                <div class="col-sm-4">
                    <div class="pb-1">Address</div>
                </div>
                <div class="col-sm-8">
                    <div class="pb-1 text-secondary">Brackenfell Cape Town 7560, South Africa </div>
                </div>
            </div>
        </div>
    </div>
</div>