{% load static %}

<div class="education-section px-3 px-lg-4 pb-4">
    <h2 class="h3 mb-4">Education</h2>
    <div class="timeline">
        <div class="timeline-card timeline-card-success card shadow-sm">
            <div class="card-body">
                <div class="h5 mb-1">Udemy <span class="text-muted h6"> Online</span></div>
                <div class="text-muted text-small mb-2">Jan, 2016 – Present</div>
                <div></div>
            </div>
        </div>
        <div class="timeline-card timeline-card-success card shadow-sm">
            <div class="card-body">
                <div class="h5 mb-1">Communication Network <span class="text-muted h6">from CPUT, ICT Academy, Cape Town</span></div>
                <div class="text-muted text-small mb-2">Jan, 2010 – Dec, 2010</div>
                <div> </div>
            </div>
        </div>
    </div>
</div>