{% load static %}

<div class="work-experience-section px-3 px-lg-4" id="work">
    <h2 class="h3 mb-4">Work Experience</h2>
    <div class="timeline">
        <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
                <div class="h5 mb-1">Python Developer  <span class="text-muted h6">Mutualism, South Africa</span></div>
                <div class="text-muted text-small mb-2">Dec, 2020 – June, 2022</div>
                <div>Build investment management dashboard application with Python (Django), React and PostgreSQL
                    database
                    working with continuous delivery using Heroku.</div>
            </div>
        </div>
        <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
                <div class="h5 mb-1">IT Support Technician <span class="text-muted h6">at Snow Ball Effect, South Africa</span></div>
                <div class="text-muted text-small mb-2"> Apr, 2015 – Aug, 2019</div>
                <div>Working with Wireless Mikro Tik, Ubiquiti products and resolving problems and
                    maintenance on the towers, and ensuring that all hardware and software are configured and
                    installed correctly. Very good in Maintenance, Installation and Cabling.</div>
            </div>
        </div>
    </div>
</div>